<div class="row">
	<h4>Registro de Paso</h4>
</div>


<div class="row mt-5 justify-content-center">
	<div class="col-md-6 ">	
		<div class="card card-info mx-4">
			<div class="card-header card-header-warning mb-2">
  			
			</div>
			<div class="card-body" style="border-top-style: dashed; border-top: 2px solid #51cbce;">
				<div class="row">
						<label for="txtCodigo" class="col-md-5 col-form-label"><strong>Codigo:</strong></label>
						<div class="col-md-7">
							<input type="number" [(ngModel)]="id_mercancia" name="id_mercancia" class="form-control" min="1" max="2140000">
						</div>
				</div>
				<p>
				<div class="row">
						<label for="txtDescripcion" class="col-md-5 col-form-label"><strong>Descripcion:</strong></label>
						<div class="col-md-7">
							<label for="txtDescripcionS" class="col-md-12 col-form-label"><strong>{{mercancia == null ? "--" : mercancia.descripcion_mercancia}}</strong></label>
						</div>
				</div>
				<p>
				<div class="row">
						<label for="txtCantidad" class="col-md-5 col-form-label"><strong>Cantidad:</strong></label>
						<div class="col-md-7">
							<label for="txtCantidadS" class="col-md-12 col-form-label"><strong>{{mercancia == null ? "--" : mercancia.cantidad_mercancia}}</strong></label>
						</div>
				</div>
				<p>
				<div class="row">
						<label for="txtTipo" class="col-md-5 col-form-label"><strong>Tipo:</strong></label>
						<div class="col-md-7">
							<label for="txtTipoS" class="col-md-12 col-form-label"><strong>{{mercancia == null ? "--" : mercancia.tipo_mercancium.descripcio_tipo_mercancia}}</strong></label>
						</div>
				</div>
				<div class="row">
						<button (click)="buscarMercancia()">Buscar</button>
				</div>
				<p>
			</div>
		</div>
	</div>
	<div class="col-md-6 ">	
		<div class="card card-info mx-4">
			<div class="card-header card-header-warning mb-2">
  			
			</div>
			<div class="card-body" style="border-top-style: dashed; border-top: 2px solid #51cbce;">
				<div class="row">
						<label for="txtMatricula" class="col-md-5 col-form-label"><strong>Matricula:</strong></label>
						<div class="col-md-7">
							<input type="text" [(ngModel)]="placa" name="placa"  class="form-control">
						</div>
				</div>
				<div class="row">
						<label for="txtDescripcionM" class="col-md-5 col-form-label"><strong>Modelo:</strong></label>
						<div class="col-md-7">
							<label for="txtDescripcionMo" class="col-md-12 col-form-label"><strong>{{transporte == null ? "--" : transporte[0].modelo_transporte}}</strong></label>
						</div>
				</div>
				<div class="row">
						<button (click)="buscarTransporte()">Buscar</button>
				</div>
			</div>
		</div>
		<div class="card card-info mx-4">
			<div class="card-header card-header-warning mb-2">
  			
			</div>
			<div class="card-body" style="border-top-style: dashed; border-top: 2px solid #51cbce;">
				<div class="row">
						<label for="txtOrigen" class="col-md-5 col-form-label"><strong>Origen:</strong></label>
						<div class="col-md-7">
							<label for="txtOrDescripcion" class="col-md-12 col-form-label"><strong>{{mercancia == null ? "--" : mercancia.envia.pais.nombre_pais}}</strong></label>
						</div>
				</div>
				<div class="row">
						<label for="txtDestino" class="col-md-5 col-form-label"><strong>Destino:</strong></label>
						<div class="col-md-7">
							<label for="txtDeDescripcion" class="col-md-12 col-form-label"><strong>{{mercancia == null ? "--" : mercancia.recibe.pais.nombre_pais}}</strong></label>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5 justify-content-center">
	<div class="col-md-12 ">	
		<div class="card card-info mx-4">
			<div class="card-header card-header-warning mb-2">
  			
			</div>
			<div class="card-body" style="border-top-style: dashed; border-top: 2px solid #51cbce;">
				<div class="row">
						<label for="txtcif" class="col-md-3 col-form-label"><strong>CIF:</strong></label>
						<div class="col-md-3">
							<label for="txtTotal" class="col-md-12 col-form-label"><strong>{{cif == null ? "--" : cif}}</strong></label>
						</div>
				</div>

				<div class="row">
						<label for="txtiva" class="col-md-3 col-form-label"><strong>IVA:</strong></label>
						<div class="col-md-3">
							<label for="txtivaS" class="col-md-12 col-form-label"><strong>{{iva == null ? "--" : iva.tasa_iva*100 + '%'}}</strong></label>
						</div>
						<label for="txtArancel" class="col-md-3 col-form-label"><strong>Arancel:</strong></label>
						<div class="col-md-3">
							<label for="txtArancelS" class="col-md-12 col-form-label"><strong>{{tasaArancel == null ? "--" : tasaArancel*100 + '%'}}</strong></label>
						</div>
				</div>
				<div class="row">
						<label for="txtTotaliva" class="col-md-3 col-form-label"><strong> Total IVA:</strong></label>
						<div class="col-md-3">
							<label for="txtTotalivaS" class="col-md-12 col-form-label"><strong>{{pagoIva == null ? "--" : pagoIva}}</strong></label>
						</div>
						<label for="txtTotalArancel" class="col-md-3 col-form-label"><strong>Total Arancel:</strong></label>
						<div class="col-md-3">
							<label for="txtTotalArancelS" class="col-md-12 col-form-label"><strong>{{pagoArancel == null ? "--" : pagoArancel}}</strong></label>
						</div>
				</div>
				<div class="row">
						<label for="txtMulta" class="col-md-3 col-form-label"><strong>Multa:</strong></label>
						<div class="col-md-3">
							<input type="number" value="0" name="pasoMulta" [(ngModel)]="multa"  class="form-control" min="0">
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center;">
	<label for="txtTotal" class="col-md-3 col-form-label"><strong> Total:</strong></label>
	<div class="col-md-5">
		<label for="txtTotalivaS" class="col-md-12 col-form-label"><strong>{{pagoArancel == null || pagoIva == null || multa == null ? "--" : pagoArancel + pagoIva + multa}}</strong></label>
	</div>
	<div class="col-md-4">
		<button type="button" class="btn btn-primary">Guardar</button>
	</div>
</div>


